<a href="https://colab.research.google.com/github/ThanikPimpiban/mulitivariate/blob/main/Multivariate_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from sklearn.datasets import make_blobs
import random,math
import numpy as np
import pandas

In [3]:
Name = 'ธนิก พิมภิบาล'
ID = '6230210491'

In [4]:
def DataGenerator(name,id):
    random.seed(int(id[3:6]))
    numfeat = random.randint(20,30)
    ct = random.randint(len(name)-6,len(name))
    
    X, y = make_blobs(n_samples=10000, centers=ct, n_features=numfeat , random_state=int(id[3:6]))

    print(f'{id[3:6]}:{numfeat}:{ct}')
    X_t = (X[:,1]*2)+int(id[3])
    X_t2 = (X[:,-1]*5)+int(id[4])

    DT = np.append(X,X_t.reshape([10000,1]),axis=1)
    DT = np.append(DT,X_t2.reshape([10000,1]),axis=1)
    
    return pandas.DataFrame(DT)

In [5]:
Data = DataGenerator(Name,ID)

021:22:10

In [6]:
Data

             0         1         2   ...        21         22         23
0     -4.537722  7.266307  8.277647  ...  2.600428  14.532614  15.002138
1      9.048972  7.134933  1.759783  ... -3.469476  14.269866 -15.347382
2      8.207557  9.221489  3.142432  ...  5.637138  18.442977  30.185691
3     11.682951  6.281466  5.393395  ... -2.393155  12.562931  -9.965776
4      9.061801  0.086986  7.456516  ...  0.266841   0.173971   3.334206
...         ...       ...       ...  ...       ...        ...        ...
9995   4.311523 -0.904654  9.165297  ... -1.554191  -1.809307  -5.770954
9996   7.842338 -0.796573  5.991055  ... -0.193996  -1.593146   1.030019
9997  -8.375086 -2.782101  4.931259  ...  2.873913  -5.564201  16.369564
9998   0.764459  8.652329 -3.127344  ...  2.831422  17.304658  16.157111
9999   9.121269 -6.470296 -2.796987  ... -1.629796 -12.940592  -6.148982

[10000 rows x 24 columns]